<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="p-2">
  <mat-form-field>
    <mat-label>{{ 'name' | translate }}</mat-label>
    <input matInput type="text" formControlName="firstName" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'birthDate' | translate }}</mat-label>
    <input matInput formControlName="birthDate" [matDatepicker]="picker" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div formGroupName="lifestyle">
    <h2>Lifestyle</h2>

    <mat-form-field>
      <mat-label>Personality: </mat-label>
      <input matInput type="text" formControlName="personality" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Pets: </mat-label>
      <input matInput type="text" formControlName="pets" />
    </mat-form-field>
  </div>

  <div class="grid">
    <h2 class="col-12">Autonomy</h2>

    <div class="col-6">Need to be surrounded:</div>
    <div class="col-6">
      <mat-slider min="1" max="5" step="1">
        <input matSliderThumb />
      </mat-slider>
    </div>

    <div class="col-6">Close to parents:</div>
    <div class="col-6">
      <mat-slider min="1" max="5" step="1">
        <input matSliderThumb />
      </mat-slider>
    </div>
  </div>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

<hr />

<button type="button" (click)="updateProfile()">Update Profile</button>
