/* You can add global styles to this file, and also import other style files */

#failure-message {
  display: none;
}

body.failed-init #loading-message {
  display: none;
}

body.failed-init #failure-message {
  display: block;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse!important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column {
  flex-direction: column!important;
}

.flex-column-reverse {
  flex-direction: column-reverse!important;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
}

.grid>.col,.grid>[class*=col] {
}

.grid-nogutter {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0
}

.grid-nogutter>.col,.grid-nogutter>[class*=col-] {
  padding: 0
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5rem;
}

.col-1,.col-fixed {
  flex: 0 0 auto;
  padding: .5rem
}

.col-1 {
  width: 8.3333%
}

.col-2 {
  width: 16.6667%
}

.col-2,.col-3 {
  flex: 0 0 auto;
  padding: .5rem
}

.col-3 {
  width: 25%
}

.col-4 {
  width: 33.3333%
}

.col-4,.col-5 {
  flex: 0 0 auto;
  padding: .5rem
}

.col-5 {
  width: 41.6667%
}

.col-6 {
  width: 50%
}

.col-6,.col-7 {
  flex: 0 0 auto;
  padding: .5rem
}

.col-7 {
  width: 58.3333%
}

.col-8 {
  width: 66.6667%
}

.col-8,.col-9 {
  flex: 0 0 auto;
  padding: .5rem
}

.col-9 {
  width: 75%
}

.col-10 {
  width: 83.3333%
}

.col-10,.col-11 {
  flex: 0 0 auto;
  padding: .5rem
}

.col-11 {
  width: 91.6667%
}

.col-12 {
  flex: 0 0 auto;
  padding: .5rem;
  width: 100%
}

.col-offset-0 {
  margin-left: 0!important
}

.col-offset-1 {
  margin-left: 8.3333%!important
}

.col-offset-2 {
  margin-left: 16.6667%!important
}

.col-offset-3 {
  margin-left: 25%!important
}

.col-offset-4 {
  margin-left: 33.3333%!important
}

.col-offset-5 {
  margin-left: 41.6667%!important
}

.col-offset-6 {
  margin-left: 50%!important
}

.col-offset-7 {
  margin-left: 58.3333%!important
}

.col-offset-8 {
  margin-left: 66.6667%!important
}

.col-offset-9 {
  margin-left: 75%!important
}

.col-offset-10 {
  margin-left: 83.3333%!important
}

.col-offset-11 {
  margin-left: 91.6667%!important
}

.col-offset-12 {
  margin-left: 100%!important
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}
